<form action="{{ route('auth.login') }}" method="POST">
    <label for="">
        Username or Email
        <input type="text" name="uid" />
    </label>


    <label for="">
        Username
        <input type="password" name="password" />
    </label>
<button type="submit">Login</button>
</form>