<form action="{{ route('auth.register') }}" method="POST">
    <label for="">
        Username
        <input type="text" name="username" />
    </label>

    <label for="">
        Email
        <input type="email" name="email" />
    </label>

    <label for="">
        Password
        <input type="password" name="password" />
    </label>
<button type="submit">Register</button>
</form>