@layout('layouts/app')
@set('title', 'file page')
@section('file')
  <section class="h-full w-full z-[5]">
    <div class="bg-white h-full mt-20 mx-5 rounded-lg lg:mt-10 lg:mx-20">
        <p class="capitalize text-center p-3 font-semibold border-b-2 mx-2">upload file</p>
    </div>
  </section>
@end