<button {{ $props.serializeExcept(['classProps']) }} class="btn btn-sm btn-outline rounded-md border-2 border-[#A8B0B8] font-medium capitalize {{classProps}}">
    {{{ await $slots.main() }}}
    {{ text ? text : '' }}
</button>