<div class="search-input flex items-center {{ classProps }}">
    <i class="material-icons text-base-200 absolute pointer-events-none pl-2">
        search
    </i>
    <input type="text" placeholder="{{ text }}" class="input input-bordered pl-9 {{ btnProps }}">
</div>