<div class="search-input flex items-center {{ classProps ? classProps : "" }}">
    <i class="material-icons text-base-content absolute pointer-events-none pl-3">
        search
    </i>
    <input type="text" placeholder="{{ text }}" class="input input-bordered pl-10 rounded-2xl placeholder-base-content placeholder:font-semibold {{ btnProps }}">
</div>